@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    font-family: 'Montserrat', serif;
    background: #ece6d9;
}

@font-face {
    font-family: Maestroc;
    src: url("Maestroc.otf") format("opentype");
}

h1 {
    font-family: Maestroc;
    letter-spacing: 4px;
}