<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <style>

        html, body {
            height: 100%;
            width: 100%;
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
        }

    </style>

</head>
<body>

<div id="app">
    <div class="form-group">
        <input type="password" class="form-control" v-model="password" v-show="!showPass">

        <input type="text" class="form-control" v-model="password" v-show="showPass">
        <button class="btn btn-primary mt-3 ml-4" @click="showPass = !showPass">
            <span v-show="!showPass">Show password</span>
            <span v-show="showPass">Hide password</span>
        </button>
    </div>
</div>



<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="index.js"></script>
</body>
</html>
